body {
  background: #009900;
  color: #FFFFF0;
  font: Arial;
  max-width: 960px;
  min-width: 300px;
}

h1 {
  text-align: center;
  border: 1px;
  border-color: #000000;
}

.menu-options {
  text-align: center;
}

.menu-options > li {
  display: inline-block;
  vertical-align: top;
  background-color: #4cbb17;
  color: black;
  font-weight: bold;
  padding: 15px;
}

.menu-options:hover {
  color: #FF00FF;
}

#diving-board {
    display: block;
    margin: auto;
    width: 30%;
    padding: 10px;
    padding-bottom: 20px;
}

#table {
  text-align: center;
  width:70%;
  margin-left:15%;
  margin-right:15%;
  padding-bottom: 50px;
  }

#photo-cred {
  display: none;
}

.content-head {
  font-size: 20pt;
  padding: 10px;
}

.main-text {
  background-image: url("underwater.jpg");
  color: #ffffff;
  background-repeat: no-repeat;
}

strong {
  font-size: 16pt;
  color: #c4fe03;
}

p {
  padding: 10px;
}

a:link {
  color: #3a4eea;
}

a:visited {
  color: #3a95ea;
}

@media screen and (max-width: 500px) {
  #diving-board {
    display: none;
  }
}